:root {
  --main-tittle-color: #ffffff;
  --second-tittle-color: #212121;
  --third-tittle-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --main-btn-color: #212121;
  --second-btn-color: #ffffff;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --contacts-color: #757575;
}
body {
  font-family: 'roboto', sans-serif;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* --------------Header-------------- */

.header {
  background-color: var(--main-background-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}
.nav-link {
  color: var(--second-tittle-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--contacts-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
