:root {
  --brand-color: #2196f3;
}

body {
  background-color: #ffffff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* шапка сайта */

.logo {
  font-weight: 700;
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}

.logo-web {
  color: #2196f3;
}

.nav-link {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-linl:focus {
  color: #2196f3;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
}

.contacts {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}

li button:hover,
li button:focus {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
}
li button {
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
}

/* Тело сайта */
.hero-section {
  background-color: #2f303a;
}
.hero-button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border-radius: 4px;
}

.title-h1 {
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.title-h2 {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.products-title {
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.products-work {
  color: #757575;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
