body {
  background-color: ##ffffff;
}
.logo {
  color: #000000;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-web {
  color: #2196f3;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
button:hover,
button:focus {
  color: #ffffff;
  background-color: #2196f3;
}
.button {
}
